* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header,
main {
  display: flex;
  padding: 2vh 2vw;
}
h1 {
  text-align: center;
  width: 100%;
}
main {
  flex-wrap: wrap;
  gap: calc(1vh + 1vw);
}
.card {
  display: flex;
  flex: 1;
  justify-content: space-between;
  box-shadow: 2px 2px 10px 2px gray;
  border-radius: 7px;
  padding: 15px;
  min-width: 250px;
}
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stats {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}
aside {
  display: flex;
  justify-content: end;
  gap: 8px;
}
.attack,
.defense,
.hp,
.speed {
  display: flex;
  width: 100px;
  height: 15px;
  box-shadow: 1px 1px 3px 1px gray;
  border-radius: 5px;
}
.attack,
.defense,
.hp,
.speed > span,
.attack > span,
.defense > span,
.hp > span,
.speed {
  height: 15px;
  overflow: hidden;
}
.attack > span {
  background-color: red;
}
.defense > span {
  background-color: lightblue;
}
.hp > span {
  background-color: green;
}
.speed > span {
  background-color: orange;
}
